USE [master]
GO
/****** Object:  Database [PJ]    Script Date: 4/18/2014 6:21:46 PM ******/
CREATE DATABASE [PJ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PJ', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PJ.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PJ_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PJ_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PJ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PJ]
GO
/****** Object:  StoredProcedure [dbo].[stp_Assign_Remove_MenuItems_Role]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- [stp_Assign_Remove_MenuItems_Role] 1,2,'13,14',1
CREATE PROCEDURE [dbo].[stp_Assign_Remove_MenuItems_Role] 
	@InstanceId int,
	@RoleId int,
	@MenuItems varchar(max),
	@CreatedBy int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
--declare @mitems varchar(max)
declare @tbl table(Id int)
--set @mitems = '12,13,14,49,15,31,35,36,37'
insert into @tbl(Id) select value from Split(@MenuItems,',')

Insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
select @InstanceId,@RoleId,Id,@CreatedBy,GETDATE() from @tbl where Id not in (select MenuId from RoleMenu where RoleId=@RoleId)

update T set T.Status=0
from RoleMenu T where MenuId in	(select Id from @tbl) and Status=1 and InstanceId = @InstanceId and RoleId = @RoleId

update T set T.Status=1
from RoleMenu T where MenuId not in	(select Id from @tbl) and InstanceId = @InstanceId and RoleId = @RoleId
declare @patientId int
declare @curParent Cursor
set @curParent = CURSOR for select Id from Menu where ParentId IS NULL and InstanceId = @InstanceId 
open @curParent
fetch next from @curParent into @patientId
while @@FETCH_STATUS=0
BEGIN
IF EXISTS(Select 1 from RoleMenu where RoleId=@RoleId and MenuId in(select Id from Menu where ParentId=@patientId) and ISNULL(Status,0)=0 and InstanceId = @InstanceId)
begin
IF NOT EXISTS(select 1 from RoleMenu where MenuId = @patientId and InstanceId = @InstanceId and RoleId = @RoleId)
BEGIN
Insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
values(@InstanceId,@RoleId,@patientId,@CreatedBy,GETDATE())
END
ELSE
BEGIN
update RoleMenu set Status=0 where MenuId=@patientId and InstanceId = @InstanceId and RoleId = @RoleId
END
end
else
begin
 update RoleMenu set Status=1 where MenuId=@patientId and InstanceId = @InstanceId and RoleId = @RoleId
end

fetch next from @curParent into @patientId
END
close @curParent
deallocate @curParent

EXEC stp_Assign_Remove_MenuItems_User @InstanceId,@CreatedBy

select 1

END

GO
/****** Object:  StoredProcedure [dbo].[stp_Assign_Remove_MenuItems_User]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Assign_Remove_MenuItems_User]
	-- Add the parameters for the stored procedure here
	@InstanceId int,
	@CreatedBy int
AS
BEGIN
declare @RoleMenuId int
declare @RoleId int
declare @MenuId int

declare @curParent Cursor
set @curParent = CURSOR for 
SELECT Id, RoleId, MenuId
	FROM RoleMenu
	WHERE (InstanceId = @InstanceId) AND (ISNULL(Status, 0) = 0)

open @curParent
fetch next from @curParent into @RoleMenuId,@RoleId,@MenuId
while @@FETCH_STATUS=0
BEGIN
	delete from UserMenu where instanceid=@InstanceId and RoleId = @RoleId and MenuId= @MenuId

	declare @FromDate date
	declare @ToDate date
	select @FromDate = LicenseStartDate , @ToDate = LicenseEndDate from Instance where Id = @InstanceId

	insert into UserMenu (InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	select @InstanceId,Id,@RoleId,@MenuId,@FromDate,@ToDate,1,@CreatedBy,GETDATE() 
	from [User] where InstanceId = @InstanceId and RoleId = @RoleId

	delete from [Right] where UserMenuId in (select Id from usermenu where InstanceId = @InstanceId and RoleId =@RoleId and MenuId = @MenuId)
	insert into [Right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
	select mar.MenuRightId,1,um.Id,@CreatedBy,GETDATE() from usermenu um join MenuAccessRight mar on um.MenuId = mar.MenuId
	where um.InstanceId = @InstanceId and um.RoleId =@RoleId and um.MenuId = @MenuId


	fetch next from @curParent into @RoleMenuId,@RoleId,@MenuId
END
END

GO
/****** Object:  StoredProcedure [dbo].[stp_Get_Menuitems_By_Role_Id]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Get_Menuitems_By_Role_Id] 
	-- Add the parameters for the stored procedure here
	@InstanceId int,
	@RoleId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  select m.Id, m.ParentId,m.Name,m.GroupId,m.[Order],m.level,1 as checked from menu m
 where id in(select menuid from RoleMenu where InstanceId=@InstanceId and RoleId=@RoleId and ISNULL(Status,0)=0) and m.InstanceId =@InstanceId
 UNION ALL
 select m.Id, m.ParentId,m.Name,m.GroupId,m.[Order],m.level,0 as checked from menu m
 where id not in(select menuid from RoleMenu where InstanceId=@InstanceId and RoleId=@RoleId and ISNULL(Status,0)=0) and m.InstanceId =@InstanceId
 
END

GO
/****** Object:  StoredProcedure [dbo].[stp_Intial_Menus_For_Admin]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Intial_Menus_For_Admin] 
@InstanceId int,
@RoleId int,
@UserId int,
@FromDate date,
@Todate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
declare @ParentMenuIdentity integer
declare @ChildMenuIdentity integer
declare @RoleMenuIdentity integer
declare @UserMenuIdentity integer
    -- Insert statements for procedure here
	INSERT [dbo].[Menu] ([InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) 
VALUES (@InstanceId, NULL, N'Home', N'Welcome', N'Admin', NULL, 0, 0, NULL)
set @ParentMenuIdentity  = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ParentMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ParentMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()

INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) 
VALUES (@InstanceId, @ParentMenuIdentity, N'Dashboard', N'Welcome', N'Admin', 1, 0, 1, NULL)
set @ChildMenuIdentity = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ChildMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ChildMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()
INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) 
VALUES (@InstanceId, @ParentMenuIdentity, N'Change Password', N'ChangePwd', N'Shared', 2, 0, 1, NULL)
set @ChildMenuIdentity = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ChildMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ChildMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(1,0,@UserMenuIdentity,1,GETDATE())


INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) 
VALUES (@InstanceId, NULL, N'Admin Module', N'ManageUsers', N'Admin', NULL, 1, 0, NULL)
set @ParentMenuIdentity  = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ParentMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ParentMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(2,1,@UserMenuIdentity,1,GETDATE())
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(3,1,@UserMenuIdentity,1,GETDATE())

INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) 
VALUES (@InstanceId, @ParentMenuIdentity, N'Manage Users', N'ManageUsers', N'Admin', 5, 0, 1, NULL)
set @ChildMenuIdentity = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ChildMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ChildMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(2,1,@UserMenuIdentity,1,GETDATE())
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(3,1,@UserMenuIdentity,1,GETDATE())

INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) 
VALUES (@InstanceId, @ParentMenuIdentity, N'Manage Notices', N'Notices', N'Admin', 1, 1, 1, NULL)
set @ChildMenuIdentity = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ChildMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ChildMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(11,1,@UserMenuIdentity,1,GETDATE())
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(12,1,@UserMenuIdentity,1,GETDATE())
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(13,1,@UserMenuIdentity,1,GETDATE())

INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) 
VALUES (@InstanceId, @ParentMenuIdentity, N'Send SMS', N'MultiSMS', N'SMS', 1, 2, 1, NULL)
set @ChildMenuIdentity = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ChildMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ChildMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()

INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status])
 VALUES (@InstanceId, @ParentMenuIdentity, N'Bulk Upload Users', N'BulkUploadUsers', N'BulkUpload', 9, 0, 1, NULL)
 set @ChildMenuIdentity = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ChildMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ChildMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()

INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status])
 VALUES (@InstanceId, @ParentMenuIdentity, N'Manage Roles', N'ManageRoles', N'Admin', 5, 1, 1, NULL)
 set @ChildMenuIdentity = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ChildMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ChildMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()

 
INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) 
VALUES (@InstanceId, NULL, N'Online Test', NULL, NULL, NULL, 2, 0, NULL)
set @ParentMenuIdentity  = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ParentMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ParentMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()

INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) 
VALUES (@InstanceId, @ParentMenuIdentity, N'My Tests', N'ManageTests', N'OnlineTest', 7, 1, 1, NULL)
set @ChildMenuIdentity = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ChildMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ChildMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(5,1,@UserMenuIdentity,1,GETDATE())
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(6,1,@UserMenuIdentity,1,GETDATE())
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(8,1,@UserMenuIdentity,1,GETDATE())
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(7,1,@UserMenuIdentity,1,GETDATE())
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(9,1,@UserMenuIdentity,1,GETDATE())
insert into [right](MenuRightId,Flag,UserMenuId,CreatedBy,CreatedDate)
values(10,1,@UserMenuIdentity,1,GETDATE())


INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) 
VALUES (@InstanceId, @ParentMenuIdentity, N'Categories', N'ManageCategory', N'OnlineTest', 7, 0, 1, NULL)
set @ChildMenuIdentity = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ChildMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ChildMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()

INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) 
VALUES (@InstanceId, NULL, N'Attendance', N'PostAttendance', N'Attendance', NULL, 3, 0, NULL)
set @ParentMenuIdentity  = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ParentMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ParentMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()

INSERT [dbo].[Menu] ( [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status])
 VALUES (@InstanceId, @ParentMenuIdentity, N'Post Attendance', N'PostAttendance', N'Attendance', 8, 0, 1, NULL)
set @ChildMenuIdentity = SCOPE_IDENTITY()
insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate)
	values(@InstanceId,@RoleId,@ChildMenuIdentity,1,GETDATE())
set @RoleMenuIdentity = SCOPE_IDENTITY()	
insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	values(@InstanceId,@UserId,@RoleId,@ChildMenuIdentity,@FromDate,@Todate,1,1,GETDATE())
set @UserMenuIdentity = SCOPE_IDENTITY()

	
	--insert into RoleMenu(InstanceId,RoleId,MenuId,CreatedBy,CreatedDate,Status)
	--select @InstanceId,@RoleId,Id,1,GETDATE(),Status from Menu where InstanceId=@InstanceId
	
	--insert into UserMenu(InstanceId,UserId,RoleId,MenuId,FromDate,ToDate,Flag,CreatedBy,CreatedDate)
	--select @InstanceId,@UserId,@RoleId,Id,@FromDate,@Todate,1,1,GETDATE() from Menu where InstanceId=@InstanceId
	
	insert into Role(InstanceId,Role,RoleDesc,CreatedBy,CreatedDate)
	values(@InstanceId,'Student','Student',1,GETDATE())
	
	insert into Role(InstanceId,Role,RoleDesc,CreatedBy,CreatedDate)
	values(@InstanceId,'Teacher','Teacher',1,GETDATE())
	
	select 1
END

GO
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[Split]      
(       
 @List varchar(Max),      
 @SplitOn nvarchar(1)      
)      
RETURNS @RtnValue table (      
 Id int identity(1,1),      
 Value varchar(max)      
)      
AS      
BEGIN      
 While (Charindex(@SplitOn,@List)>0)      
 Begin       
  Insert Into @RtnValue (value)      
  Select       
   Value = ltrim(rtrim(Substring(@List,1,Charindex(@SplitOn,@List)-1)))       
  Set @List = Substring(@List,Charindex(@SplitOn,@List)+len(@SplitOn),len(@List))      
 End       
       
 Insert Into @RtnValue (Value)      
    Select Value = ltrim(rtrim(@List))      
      
    Return      
END

GO
/****** Object:  Table [dbo].[Dealer]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dealer](
	[DealerId] [int] IDENTITY(1,1) NOT NULL,
	[DealerName] [varchar](50) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[CompanyShortForm] [varchar](10) NULL,
	[Address] [varchar](500) NULL,
	[City] [varchar](20) NULL,
	[State] [varchar](20) NULL,
	[PinCode] [varchar](6) NULL,
	[CompanyVATOrTinNo] [varchar](20) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EditedBy] [int] NULL,
	[EditedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Dealer] PRIMARY KEY CLUSTERED 
(
	[DealerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GoldRates]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GoldRates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GoldCity] [varchar](100) NOT NULL,
	[URL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GoldRates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GoldRatesManual]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GoldRatesManual](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstanceId] [int] NOT NULL,
	[City] [varchar](500) NOT NULL,
	[GoldWeight] [varchar](50) NOT NULL,
	[GoldPrice] [varchar](100) NOT NULL,
	[SilverWeight] [varchar](50) NOT NULL,
	[SilverPrice] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_GoldRatesManual] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Instance]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Instance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[ParentInstance] [int] NULL,
	[Address] [varchar](2000) NULL,
	[PIN] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Mobile] [varchar](12) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LicenseStartDate] [date] NULL,
	[LicenseEndDate] [date] NULL,
	[Status] [bit] NULL,
	[GoldCityId] [int] NULL,
	[Domain] [nvarchar](500) NULL,
 CONSTRAINT [PK_Instance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Log4Net_Error]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Log4Net_Error](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Thread] [varchar](255) NOT NULL,
	[Level] [varchar](50) NOT NULL,
	[Logger] [varchar](255) NOT NULL,
	[Message] [varchar](4000) NOT NULL,
	[Exception] [varchar](2000) NOT NULL,
	[UserID] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Log4Net_Error] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lot]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lot](
	[LotId] [int] IDENTITY(1,1) NOT NULL,
	[LotName] [varchar](10) NOT NULL,
	[Weight] [decimal](18, 2) NULL,
	[NoOfPieces] [int] NULL,
	[ProductGroupId] [int] NOT NULL,
	[DealerId] [int] NULL,
 CONSTRAINT [PK_Lot] PRIMARY KEY CLUSTERED 
(
	[LotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstanceId] [int] NULL,
	[ParentId] [int] NULL,
	[Name] [varchar](100) NOT NULL,
	[Action] [varchar](200) NULL,
	[Controller] [varchar](200) NULL,
	[GroupId] [int] NULL,
	[Order] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MenuAccessRight]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuAccessRight](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[MenuRightId] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_MenuAccessRight] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuGroup]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstanceId] [int] NULL,
	[GroupName] [varchar](100) NULL,
	[GroupShortName] [varchar](100) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EditedBy] [int] NULL,
	[EditedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_MenuGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MenuRight]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuRight](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuRight] [varchar](100) NOT NULL,
	[MenuRightDescription] [varchar](500) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_MenuRight] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](300) NOT NULL,
	[ShortForm] [varchar](100) NULL,
	[ValueAddedByPerc] [decimal](18, 3) NULL,
	[ValueAddedFixed] [decimal](18, 3) NULL,
	[MakingChargesPerGram] [decimal](18, 3) NULL,
	[MakingChargesFixed] [decimal](18, 3) NULL,
	[IsStone] [bit] NOT NULL,
	[IsWeightless] [bit] NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
	[ProductGroupId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EditedBy] [int] NULL,
	[EditedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategory] [varchar](100) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EditedBy] [int] NULL,
	[EditedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductGroup]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductGroup] [varchar](100) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EditedBy] [int] NULL,
	[EditedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_ProductGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Right]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Right](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuRightId] [int] NOT NULL,
	[Flag] [bit] NOT NULL,
	[UserMenuId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EditedBy] [int] NULL,
	[EditedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Right] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstanceId] [int] NULL,
	[Role] [varchar](50) NOT NULL,
	[RoleDesc] [varchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EditedBy] [int] NULL,
	[EditedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleMenu]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstanceId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EditedBy] [int] NULL,
	[EditedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_RoleMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SiteLog]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SiteLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[Action] [varchar](1000) NOT NULL,
	[Controller] [varchar](1000) NOT NULL,
	[IPAddress] [varchar](1000) NULL,
	[URL] [varchar](1000) NULL,
	[HostAddress] [varchar](1000) NULL,
	[UserID] [varchar](1000) NULL,
 CONSTRAINT [PK_SiteLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](500) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[RoleId] [int] NULL,
	[Email] [varchar](100) NULL,
	[InstanceId] [int] NULL,
	[IsApproved] [bit] NOT NULL,
	[IsLockedOut] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EditedBy] [int] NULL,
	[EditedDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[LastPasswordChangedDate] [datetime] NULL,
	[LastLockedOutDate] [datetime] NULL,
	[FailedPasswordAttemptCount] [int] NULL,
	[ChangePwdonLogin] [bit] NULL,
	[Comment] [nvarchar](500) NULL,
 CONSTRAINT [PK_Users_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Address] [varchar](300) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](50) NULL,
	[PinCode] [varchar](10) NULL,
	[Mobile] [varchar](20) NULL,
	[Phone] [varchar](20) NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserMenu]    Script Date: 4/18/2014 6:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMenu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstanceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Flag] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EditedBy] [int] NULL,
	[EditedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_UserMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Dealer] ON 

GO
INSERT [dbo].[Dealer] ([DealerId], [DealerName], [CompanyName], [CompanyShortForm], [Address], [City], [State], [PinCode], [CompanyVATOrTinNo], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (1, N'd1', N'c1', NULL, NULL, NULL, NULL, NULL, NULL, 4, CAST(0x0000A3100133D651 AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[Dealer] ([DealerId], [DealerName], [CompanyName], [CompanyShortForm], [Address], [City], [State], [PinCode], [CompanyVATOrTinNo], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (2, N'd1', N'c1', NULL, NULL, NULL, NULL, NULL, NULL, 4, CAST(0x0000A3100136733F AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[Dealer] ([DealerId], [DealerName], [CompanyName], [CompanyShortForm], [Address], [City], [State], [PinCode], [CompanyVATOrTinNo], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (3, N'd1', N'c1', NULL, NULL, NULL, NULL, NULL, NULL, 4, CAST(0x0000A310013691DD AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Dealer] OFF
GO
SET IDENTITY_INSERT [dbo].[GoldRates] ON 

GO
INSERT [dbo].[GoldRates] ([Id], [GoldCity], [URL]) VALUES (1, N'Delhi', N'http://www.indiagoldrate.com/gold-rate-in-delhi-today.htm@http://www.indiagoldrate.com/silver-rate-in-delhi-today.htm')
GO
INSERT [dbo].[GoldRates] ([Id], [GoldCity], [URL]) VALUES (2, N'Mumbai', N'http://www.indiagoldrate.com/gold-rate-in-mumbai-today.htm@http://www.indiagoldrate.com/silver-rate-in-mumbai-today.htm')
GO
INSERT [dbo].[GoldRates] ([Id], [GoldCity], [URL]) VALUES (3, N'Chennai', N'http://www.indiagoldrate.com/gold-rate-in-chennai-today.htm@http://www.indiagoldrate.com/silver-rate-in-chennai-today.htm')
GO
SET IDENTITY_INSERT [dbo].[GoldRates] OFF
GO
SET IDENTITY_INSERT [dbo].[GoldRatesManual] ON 

GO
INSERT [dbo].[GoldRatesManual] ([Id], [InstanceId], [City], [GoldWeight], [GoldPrice], [SilverWeight], [SilverPrice], [CreatedDate]) VALUES (1, 1, N'Hyderabad', N'10g', N'21,541', N'10g', N'455', CAST(0x0000A30500000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[GoldRatesManual] OFF
GO
SET IDENTITY_INSERT [dbo].[Instance] ON 

GO
INSERT [dbo].[Instance] ([Id], [Name], [ParentInstance], [Address], [PIN], [Phone], [Mobile], [CreatedDate], [LicenseStartDate], [LicenseEndDate], [Status], [GoldCityId], [Domain]) VALUES (1, N'POOJA', NULL, N'AS RAO Nagar', NULL, NULL, NULL, CAST(0x0000A2F100000000 AS DateTime), CAST(0x4C380B00 AS Date), CAST(0xB9390B00 AS Date), NULL, 1, N'http://localhost:1101/')
GO
SET IDENTITY_INSERT [dbo].[Instance] OFF
GO
SET IDENTITY_INSERT [dbo].[Log4Net_Error] ON 

GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (2, CAST(0x0000A2F100EDFEB2 AS DateTime), N'22', N'ERROR', N'THSMVC.MvcApplication', N'App_Error', N'System.InvalidOperationException: The ViewData item that has the key ''Country'' is of type ''System.Int32'' but must be of type ''IEnumerable<SelectListItem>''.
   at System.Web.Mvc.Html.SelectExtensions.GetSelectData(HtmlHelper htmlHelper, String name)
   at System.Web.Mvc.Html.SelectExtensions.SelectInternal(HtmlHelper htmlHelper, String optionLabel, String name, IEnumerable`1 selectList, Boolean allowMultiple, IDictionary`2 htmlAttributes)
   at System.Web.Mvc.Html.SelectExtensions.DropDownListHelper(HtmlHelper htmlHelper, String expression, IEnumerable`1 selectList, String optionLabel, IDictionary`2 htmlAttributes)
   at System.Web.Mvc.Html.SelectExtensions.DropDownListFor[TModel,TProperty](HtmlHelper`1 htmlHelper, Expression`1 expression, IEnumerable`1 selectList, String optionLabel, IDictionary`2 htmlAttributes)
   at System.Web.Mvc.Html.SelectExtensions.DropDownListFor[TModel,TProperty](HtmlHelper`1 htmlHelper, Expression`1 expression, IEnumerable`1 selectList, String optionLabel, Object htmlAttributes)
   at ASP.views_admin_updateinstance_aspx.__Render__control1(HtmlTextWriter __w, Control parameterContainer) in d:\Projects\Sample\documents-export-2014-03-17\THSMVC\THSMVC\THSMVC\Views\Admin\UpdateInstance.aspx:line 173
   at System.Web.UI.Control.RenderChildrenInternal(HtmlTextWriter writer, ICollection children)
   at System.Web.UI.Control.RenderChildren(HtmlTextWriter writer)
   at System.Web.UI.Page.Render(HtmlTextWriter writer)
   at System.Web.Mvc.ViewPage.Render(HtmlTextWriter writer)
   at System.Web.UI.Control.RenderControlInternal(HtmlTextWriter writer, ControlAdapter adapter)
   at System.Web.UI.Control.RenderControl(HtmlTextWriter writer, ControlAdapter adapter)
   at System.Web.UI.Control.RenderControl(HtmlTextWriter writer)
   at System.Web.UI.Page.ProcessRequestMain(Boolean includeStagesBeforeAsyncPoint, Boolean includeStagesAfterAsyncPoint)', N'3')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (3, CAST(0x0000A30D011E940E AS DateTime), N'13', N'ERROR', N'THSMVC.MvcApplication', N'App_Error', N'System.Web.HttpException (0x80004005): A public action method ''JsonLotCollection'' was not found on controller ''THSMVC.Controllers.AdminController''.
   at System.Web.Mvc.Controller.HandleUnknownAction(String actionName)
   at System.Web.Mvc.Controller.ExecuteCore()
   at System.Web.Mvc.ControllerBase.Execute(RequestContext requestContext)
   at System.Web.Mvc.ControllerBase.System.Web.Mvc.IController.Execute(RequestContext requestContext)
   at System.Web.Mvc.MvcHandler.<>c__DisplayClass8.<BeginProcessRequest>b__4()
   at System.Web.Mvc.Async.AsyncResultWrapper.<>c__DisplayClass1.<MakeVoidDelegate>b__0()
   at System.Web.Mvc.Async.AsyncResultWrapper.<>c__DisplayClass8`1.<BeginSynchronous>b__7(IAsyncResult _)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.End()
   at System.Web.Mvc.Async.AsyncResultWrapper.End[TResult](IAsyncResult asyncResult, Object tag)
   at System.Web.Mvc.Async.AsyncResultWrapper.End(IAsyncResult asyncResult, Object tag)
   at System.Web.Mvc.MvcHandler.EndProcessRequest(IAsyncResult asyncResult)
   at System.Web.Mvc.MvcHandler.System.Web.IHttpAsyncHandler.EndProcessRequest(IAsyncResult result)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (4, CAST(0x0000A30D011EB2A2 AS DateTime), N'13', N'ERROR', N'THSMVC.MvcApplication', N'App_Error', N'System.Web.HttpException (0x80004005): A public action method ''JsonLotCollection'' was not found on controller ''THSMVC.Controllers.AdminController''.
   at System.Web.Mvc.Controller.HandleUnknownAction(String actionName)
   at System.Web.Mvc.Controller.ExecuteCore()
   at System.Web.Mvc.ControllerBase.Execute(RequestContext requestContext)
   at System.Web.Mvc.ControllerBase.System.Web.Mvc.IController.Execute(RequestContext requestContext)
   at System.Web.Mvc.MvcHandler.<>c__DisplayClass8.<BeginProcessRequest>b__4()
   at System.Web.Mvc.Async.AsyncResultWrapper.<>c__DisplayClass1.<MakeVoidDelegate>b__0()
   at System.Web.Mvc.Async.AsyncResultWrapper.<>c__DisplayClass8`1.<BeginSynchronous>b__7(IAsyncResult _)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.End()
   at System.Web.Mvc.Async.AsyncResultWrapper.End[TResult](IAsyncResult asyncResult, Object tag)
   at System.Web.Mvc.Async.AsyncResultWrapper.End(IAsyncResult asyncResult, Object tag)
   at System.Web.Mvc.MvcHandler.EndProcessRequest(IAsyncResult asyncResult)
   at System.Web.Mvc.MvcHandler.System.Web.IHttpAsyncHandler.EndProcessRequest(IAsyncResult result)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (7, CAST(0x0000A30F00DF5BB3 AS DateTime), N'5', N'ERROR', N'THSMVC.MvcApplication', N'App_Error', N'System.Web.HttpException (0x80004005): A public action method ''EditProductGroup'' was not found on controller ''THSMVC.Controllers.ProductGroupController''.
   at System.Web.Mvc.Controller.HandleUnknownAction(String actionName)
   at System.Web.Mvc.Controller.ExecuteCore()
   at System.Web.Mvc.ControllerBase.Execute(RequestContext requestContext)
   at System.Web.Mvc.ControllerBase.System.Web.Mvc.IController.Execute(RequestContext requestContext)
   at System.Web.Mvc.MvcHandler.<>c__DisplayClass8.<BeginProcessRequest>b__4()
   at System.Web.Mvc.Async.AsyncResultWrapper.<>c__DisplayClass1.<MakeVoidDelegate>b__0()
   at System.Web.Mvc.Async.AsyncResultWrapper.<>c__DisplayClass8`1.<BeginSynchronous>b__7(IAsyncResult _)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.End()
   at System.Web.Mvc.Async.AsyncResultWrapper.End[TResult](IAsyncResult asyncResult, Object tag)
   at System.Web.Mvc.Async.AsyncResultWrapper.End(IAsyncResult asyncResult, Object tag)
   at System.Web.Mvc.MvcHandler.EndProcessRequest(IAsyncResult asyncResult)
   at System.Web.Mvc.MvcHandler.System.Web.IHttpAsyncHandler.EndProcessRequest(IAsyncResult result)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (8, CAST(0x0000A30F00DF6130 AS DateTime), N'12', N'ERROR', N'THSMVC.MvcApplication', N'App_Error', N'System.Web.HttpException (0x80004005): A public action method ''EditProductGroup'' was not found on controller ''THSMVC.Controllers.ProductGroupController''.
   at System.Web.Mvc.Controller.HandleUnknownAction(String actionName)
   at System.Web.Mvc.Controller.ExecuteCore()
   at System.Web.Mvc.ControllerBase.Execute(RequestContext requestContext)
   at System.Web.Mvc.ControllerBase.System.Web.Mvc.IController.Execute(RequestContext requestContext)
   at System.Web.Mvc.MvcHandler.<>c__DisplayClass8.<BeginProcessRequest>b__4()
   at System.Web.Mvc.Async.AsyncResultWrapper.<>c__DisplayClass1.<MakeVoidDelegate>b__0()
   at System.Web.Mvc.Async.AsyncResultWrapper.<>c__DisplayClass8`1.<BeginSynchronous>b__7(IAsyncResult _)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.End()
   at System.Web.Mvc.Async.AsyncResultWrapper.End[TResult](IAsyncResult asyncResult, Object tag)
   at System.Web.Mvc.Async.AsyncResultWrapper.End(IAsyncResult asyncResult, Object tag)
   at System.Web.Mvc.MvcHandler.EndProcessRequest(IAsyncResult asyncResult)
   at System.Web.Mvc.MvcHandler.System.Web.IHttpAsyncHandler.EndProcessRequest(IAsyncResult result)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (11, CAST(0x0000A3100133B4B5 AS DateTime), N'11', N'ERROR', N'THSMVC.Services.Logging.Log4Net.Log4NetLogger', N'JsonDealerCollection', N'System.ArgumentException: Instance property ''Dealer1'' is not defined for type ''THSMVC.Models.DealerModel''
   at System.Linq.Expressions.Expression.Property(Expression expression, String propertyName)
   at THSMVC.Models.Helpers.LinqExtensions.OrderBy[T](IQueryable`1 query, String sortColumn, String direction) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Models\Helpers\LinqExtensions.cs:line 25
   at THSMVC.Controllers.DealerController.JsonDealerCollection(GridSettings grid) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Controllers\DealerController.cs:line 171', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (12, CAST(0x0000A3100133C882 AS DateTime), N'11', N'ERROR', N'THSMVC.Services.Logging.Log4Net.Log4NetLogger', N'JsonDealerCollection', N'System.ArgumentException: Instance property ''Dealer1'' is not defined for type ''THSMVC.Models.DealerModel''
   at System.Linq.Expressions.Expression.Property(Expression expression, String propertyName)
   at THSMVC.Models.Helpers.LinqExtensions.OrderBy[T](IQueryable`1 query, String sortColumn, String direction) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Models\Helpers\LinqExtensions.cs:line 25
   at THSMVC.Controllers.DealerController.JsonDealerCollection(GridSettings grid) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Controllers\DealerController.cs:line 171', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (13, CAST(0x0000A3100133D90C AS DateTime), N'20', N'ERROR', N'THSMVC.Services.Logging.Log4Net.Log4NetLogger', N'JsonDealerCollection', N'System.ArgumentException: Instance property ''Dealer1'' is not defined for type ''THSMVC.Models.DealerModel''
   at System.Linq.Expressions.Expression.Property(Expression expression, String propertyName)
   at THSMVC.Models.Helpers.LinqExtensions.OrderBy[T](IQueryable`1 query, String sortColumn, String direction) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Models\Helpers\LinqExtensions.cs:line 25
   at THSMVC.Controllers.DealerController.JsonDealerCollection(GridSettings grid) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Controllers\DealerController.cs:line 171', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (14, CAST(0x0000A3100133F30D AS DateTime), N'21', N'ERROR', N'THSMVC.Services.Logging.Log4Net.Log4NetLogger', N'JsonDealerCollection', N'System.ArgumentException: Instance property ''Dealer1'' is not defined for type ''THSMVC.Models.DealerModel''
   at System.Linq.Expressions.Expression.Property(Expression expression, String propertyName)
   at THSMVC.Models.Helpers.LinqExtensions.OrderBy[T](IQueryable`1 query, String sortColumn, String direction) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Models\Helpers\LinqExtensions.cs:line 25
   at THSMVC.Controllers.DealerController.JsonDealerCollection(GridSettings grid) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Controllers\DealerController.cs:line 171', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (15, CAST(0x0000A31001342537 AS DateTime), N'21', N'ERROR', N'THSMVC.Services.Logging.Log4Net.Log4NetLogger', N'JsonDealerCollection', N'System.ArgumentException: Instance property ''Dealer1'' is not defined for type ''THSMVC.Models.DealerModel''
   at System.Linq.Expressions.Expression.Property(Expression expression, String propertyName)
   at THSMVC.Models.Helpers.LinqExtensions.OrderBy[T](IQueryable`1 query, String sortColumn, String direction) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Models\Helpers\LinqExtensions.cs:line 25
   at THSMVC.Controllers.DealerController.JsonDealerCollection(GridSettings grid) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Controllers\DealerController.cs:line 171', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (16, CAST(0x0000A3100134CAEC AS DateTime), N'23', N'ERROR', N'THSMVC.Services.Logging.Log4Net.Log4NetLogger', N'JsonDealerCollection', N'System.NullReferenceException: Object reference not set to an instance of an object.
   at lambda_method(Closure , DealerModel )
   at System.Linq.Enumerable.WhereSelectArrayIterator`2.MoveNext()
   at System.Linq.Buffer`1..ctor(IEnumerable`1 source)
   at System.Linq.Enumerable.ToArray[TSource](IEnumerable`1 source)
   at THSMVC.Controllers.DealerController.JsonDealerCollection(GridSettings grid) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Controllers\DealerController.cs:line 180', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (17, CAST(0x0000A3100134F0F8 AS DateTime), N'25', N'ERROR', N'THSMVC.Services.Logging.Log4Net.Log4NetLogger', N'JsonDealerCollection', N'System.NullReferenceException: Object reference not set to an instance of an object.
   at lambda_method(Closure , DealerModel )
   at System.Linq.Enumerable.WhereSelectArrayIterator`2.MoveNext()
   at System.Linq.Buffer`1..ctor(IEnumerable`1 source)
   at System.Linq.Enumerable.ToArray[TSource](IEnumerable`1 source)
   at THSMVC.Controllers.DealerController.JsonDealerCollection(GridSettings grid) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Controllers\DealerController.cs:line 180', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (18, CAST(0x0000A31001352385 AS DateTime), N'24', N'ERROR', N'THSMVC.Services.Logging.Log4Net.Log4NetLogger', N'JsonDealerCollection', N'System.NullReferenceException: Object reference not set to an instance of an object.
   at lambda_method(Closure , DealerModel )
   at System.Linq.Enumerable.WhereSelectArrayIterator`2.MoveNext()
   at System.Linq.Buffer`1..ctor(IEnumerable`1 source)
   at System.Linq.Enumerable.ToArray[TSource](IEnumerable`1 source)
   at THSMVC.Controllers.DealerController.JsonDealerCollection(GridSettings grid) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Controllers\DealerController.cs:line 180', N'4')
GO
INSERT [dbo].[Log4Net_Error] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception], [UserID]) VALUES (19, CAST(0x0000A31001358797 AS DateTime), N'25', N'ERROR', N'THSMVC.Services.Logging.Log4Net.Log4NetLogger', N'JsonDealerCollection', N'System.NullReferenceException: Object reference not set to an instance of an object.
   at lambda_method(Closure , DealerModel )
   at System.Linq.Enumerable.WhereSelectArrayIterator`2.MoveNext()
   at System.Linq.Buffer`1..ctor(IEnumerable`1 source)
   at System.Linq.Enumerable.ToArray[TSource](IEnumerable`1 source)
   at THSMVC.Controllers.DealerController.JsonDealerCollection(GridSettings grid) in d:\Projects\Sample\PJ\JEWELLERY\THSMVC\Controllers\DealerController.cs:line 180', N'4')
GO
SET IDENTITY_INSERT [dbo].[Log4Net_Error] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

GO
INSERT [dbo].[Menu] ([Id], [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) VALUES (1, NULL, NULL, N'Home', N'Welcome', N'Admin', NULL, 0, 0, NULL)
GO
INSERT [dbo].[Menu] ([Id], [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) VALUES (2, NULL, NULL, N'Masters', NULL, NULL, NULL, 1, 0, NULL)
GO
INSERT [dbo].[Menu] ([Id], [InstanceId], [ParentId], [Name], [Action], [Controller], [GroupId], [Order], [Level], [Status]) VALUES (4, NULL, 1, N'Change Password', N'ChangePwd', N'Shared', 2, 0, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuGroup] ON 

GO
INSERT [dbo].[MenuGroup] ([Id], [InstanceId], [GroupName], [GroupShortName], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (2, NULL, N'Account', N'Acct', 1, CAST(0x00009FEE00000000 AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[MenuGroup] ([Id], [InstanceId], [GroupName], [GroupShortName], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (3, NULL, N'Manage Clients', N'Client', 1, CAST(0x00009FF000000000 AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[MenuGroup] ([Id], [InstanceId], [GroupName], [GroupShortName], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (4, NULL, N'Master Pages', N'Masters', 1, CAST(0x00009FF100000000 AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[MenuGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuRight] ON 

GO
INSERT [dbo].[MenuRight] ([Id], [MenuRight], [MenuRightDescription], [Status]) VALUES (1, N'Change', N'Change Password', NULL)
GO
INSERT [dbo].[MenuRight] ([Id], [MenuRight], [MenuRightDescription], [Status]) VALUES (2, N'Create', N'Authorized to Create User', NULL)
GO
INSERT [dbo].[MenuRight] ([Id], [MenuRight], [MenuRightDescription], [Status]) VALUES (3, N'Update', N'Authorized to Update User', NULL)
GO
SET IDENTITY_INSERT [dbo].[MenuRight] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
INSERT [dbo].[Product] ([Id], [ProductName], [ShortForm], [ValueAddedByPerc], [ValueAddedFixed], [MakingChargesPerGram], [MakingChargesFixed], [IsStone], [IsWeightless], [ProductCategoryId], [ProductGroupId], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (1, N'sfs1', NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 4, CAST(0x0000A31100D04409 AS DateTime), 4, CAST(0x0000A31100D07489 AS DateTime), 1)
GO
INSERT [dbo].[Product] ([Id], [ProductName], [ShortForm], [ValueAddedByPerc], [ValueAddedFixed], [MakingChargesPerGram], [MakingChargesFixed], [IsStone], [IsWeightless], [ProductCategoryId], [ProductGroupId], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (2, N'pn', N'sf', CAST(1.000 AS Decimal(18, 3)), CAST(10.000 AS Decimal(18, 3)), CAST(200.000 AS Decimal(18, 3)), CAST(100.000 AS Decimal(18, 3)), 1, 1, 3, 12, 4, CAST(0x0000A31100E33330 AS DateTime), 4, CAST(0x0000A31100E3924B AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

GO
INSERT [dbo].[ProductCategory] ([Id], [ProductCategory], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (1, N'cat1u', 4, CAST(0x0000A31100CBF44A AS DateTime), 4, CAST(0x0000A31100CBFC41 AS DateTime), 1)
GO
INSERT [dbo].[ProductCategory] ([Id], [ProductCategory], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (2, N'cat2', 4, CAST(0x0000A31100CC0813 AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[ProductCategory] ([Id], [ProductCategory], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (3, N'cat1', 4, CAST(0x0000A31100E31E2A AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductGroup] ON 

GO
INSERT [dbo].[ProductGroup] ([Id], [ProductGroup], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (1, N'Test', 1, CAST(0x0000A30800000000 AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[ProductGroup] ([Id], [ProductGroup], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (2, N'Gold', 4, CAST(0x0000A30F00F152E1 AS DateTime), 4, CAST(0x0000A30F00F78C31 AS DateTime), 1)
GO
INSERT [dbo].[ProductGroup] ([Id], [ProductGroup], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (3, N'Silver', 4, CAST(0x0000A30F00F196A5 AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[ProductGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

GO
INSERT [dbo].[Role] ([Id], [InstanceId], [Role], [RoleDesc], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (1, 1, N'Administrator', N'Admin', 3, CAST(0x00009FF20108BE1F AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleMenu] ON 

GO
INSERT [dbo].[RoleMenu] ([Id], [InstanceId], [RoleId], [MenuId], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (217, 1, 1, 12, 3, CAST(0x0000A2F100000000 AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[RoleMenu] ([Id], [InstanceId], [RoleId], [MenuId], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (218, 1, 1, 154, 3, CAST(0x0000A2F100000000 AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[RoleMenu] ([Id], [InstanceId], [RoleId], [MenuId], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (219, 1, 1, 156, 3, CAST(0x0000A2F700000000 AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[RoleMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[SiteLog] ON 

GO
INSERT [dbo].[SiteLog] ([ID], [TimeStamp], [Action], [Controller], [IPAddress], [URL], [HostAddress], [UserID]) VALUES (1, CAST(0x0000A2F100EBAABE AS DateTime), N'Index', N'THSMVC.Controllers.HomeController', N'fe80::555a:6ddd:ff7a:543f%11', N'', N'::1', N'')
GO
INSERT [dbo].[SiteLog] ([ID], [TimeStamp], [Action], [Controller], [IPAddress], [URL], [HostAddress], [UserID]) VALUES (2, CAST(0x0000A2F100EBBEDB AS DateTime), N'LogOn', N'THSMVC.Controllers.AccountController', N'fe80::555a:6ddd:ff7a:543f%11', N'', N'::1', N'')
GO
INSERT [dbo].[SiteLog] ([ID], [TimeStamp], [Action], [Controller], [IPAddress], [URL], [HostAddress], [UserID]) VALUES (3, CAST(0x0000A2F100EBC417 AS DateTime), N'LogOn', N'THSMVC.Controllers.AccountController', N'fe80::555a:6ddd:ff7a:543f%11', N'', N'::1', N'')
GO
SET IDENTITY_INSERT [dbo].[SiteLog] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

GO
INSERT [dbo].[User] ([Id], [UserName], [Password], [RoleId], [Email], [InstanceId], [IsApproved], [IsLockedOut], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [LastLoginDate], [LastPasswordChangedDate], [LastLockedOutDate], [FailedPasswordAttemptCount], [ChangePwdonLogin], [Comment]) VALUES (3, N'admin', N'WmZC2hY0yEA604185n48Lg==', NULL, N'kollisreekanth@gmail.com', NULL, 1, 0, 0, CAST(0x00009FEC00F61873 AS DateTime), NULL, NULL, CAST(0x0000A311010DAFDF AS DateTime), NULL, NULL, NULL, 0, NULL)
GO
INSERT [dbo].[User] ([Id], [UserName], [Password], [RoleId], [Email], [InstanceId], [IsApproved], [IsLockedOut], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [LastLoginDate], [LastPasswordChangedDate], [LastLockedOutDate], [FailedPasswordAttemptCount], [ChangePwdonLogin], [Comment]) VALUES (4, N'Admin', N'+ZQqEZYY07w=', 1, N'admin@pjewels.com', 1, 1, 0, 3, CAST(0x00009FF20108BE2C AS DateTime), NULL, NULL, CAST(0x0000A19100F3F7DE AS DateTime), NULL, NULL, NULL, 0, NULL)
GO
INSERT [dbo].[User] ([Id], [UserName], [Password], [RoleId], [Email], [InstanceId], [IsApproved], [IsLockedOut], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [LastLoginDate], [LastPasswordChangedDate], [LastLockedOutDate], [FailedPasswordAttemptCount], [ChangePwdonLogin], [Comment]) VALUES (5, N'u1', N'rT3bOaoJcBw=', 1, N'e', 1, 1, 1, 4, CAST(0x0000A311010AE814 AS DateTime), 4, CAST(0x0000A311010C1DDE AS DateTime), NULL, NULL, CAST(0x0000A31101104A8D AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

GO
INSERT [dbo].[UserDetails] ([Id], [UserId], [Name], [Address], [City], [State], [PinCode], [Mobile], [Phone]) VALUES (1, 5, N'u1', N'a', N'c', N's', N'p', N'm', N'p')
GO
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMenu] ON 

GO
INSERT [dbo].[UserMenu] ([Id], [InstanceId], [UserId], [RoleId], [MenuId], [FromDate], [ToDate], [Flag], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (43, 1, 4, 1, 12, CAST(0x0000A2F100000000 AS DateTime), CAST(0x0000A45E00000000 AS DateTime), 1, 4, CAST(0x0000A311010155AF AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[UserMenu] ([Id], [InstanceId], [UserId], [RoleId], [MenuId], [FromDate], [ToDate], [Flag], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (44, 1, 4, 1, 154, CAST(0x0000A2F100000000 AS DateTime), CAST(0x0000A45E00000000 AS DateTime), 1, 4, CAST(0x0000A311010155AF AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[UserMenu] ([Id], [InstanceId], [UserId], [RoleId], [MenuId], [FromDate], [ToDate], [Flag], [CreatedBy], [CreatedDate], [EditedBy], [EditedDate], [Status]) VALUES (45, 1, 4, 1, 156, CAST(0x0000A2F100000000 AS DateTime), CAST(0x0000A45E00000000 AS DateTime), 1, 4, CAST(0x0000A311010155B0 AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[UserMenu] OFF
GO
USE [master]
GO
